<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bpm.lj.mes.base.server.mapper.base.BaseBatchBomMapper">
  <resultMap id="BaseResultMap" type="com.bpm.lj.mes.base.server.domain.BaseBatchBom">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="erp_batch_code" jdbcType="VARCHAR" property="erpBatchCode" />
    <result column="bom_id" jdbcType="VARCHAR" property="bomId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="customize1" jdbcType="VARCHAR" property="customize1" />
    <result column="customize2" jdbcType="VARCHAR" property="customize2" />
    <result column="customize3" jdbcType="VARCHAR" property="customize3" />
    <result column="customize4" jdbcType="VARCHAR" property="customize4" />
    <result column="customize5" jdbcType="INTEGER" property="customize5" />
    <result column="customize6" jdbcType="INTEGER" property="customize6" />
    <result column="customize7" jdbcType="INTEGER" property="customize7" />
    <result column="customize8" jdbcType="INTEGER" property="customize8" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, erp_batch_code, bom_id, order_id, `type`, `status`, customize1, customize2, customize3, 
    customize4, customize5, customize6, customize7, customize8
  </sql>
  <select id="selectByExample" parameterType="com.bpm.lj.mes.base.server.domain.BaseBatchBomExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from base_batch_bom
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_batch_bom
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_batch_bom
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bpm.lj.mes.base.server.domain.BaseBatchBomExample">
    delete from base_batch_bom
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bpm.lj.mes.base.server.domain.BaseBatchBom">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into base_batch_bom (erp_batch_code, bom_id, order_id, 
      `type`, `status`, customize1, 
      customize2, customize3, customize4, 
      customize5, customize6, customize7, 
      customize8)
    values (#{erpBatchCode,jdbcType=VARCHAR}, #{bomId,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{customize1,jdbcType=VARCHAR}, 
      #{customize2,jdbcType=VARCHAR}, #{customize3,jdbcType=VARCHAR}, #{customize4,jdbcType=VARCHAR}, 
      #{customize5,jdbcType=INTEGER}, #{customize6,jdbcType=INTEGER}, #{customize7,jdbcType=INTEGER}, 
      #{customize8,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bpm.lj.mes.base.server.domain.BaseBatchBom">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into base_batch_bom
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="erpBatchCode != null">
        erp_batch_code,
      </if>
      <if test="bomId != null">
        bom_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="customize1 != null">
        customize1,
      </if>
      <if test="customize2 != null">
        customize2,
      </if>
      <if test="customize3 != null">
        customize3,
      </if>
      <if test="customize4 != null">
        customize4,
      </if>
      <if test="customize5 != null">
        customize5,
      </if>
      <if test="customize6 != null">
        customize6,
      </if>
      <if test="customize7 != null">
        customize7,
      </if>
      <if test="customize8 != null">
        customize8,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="erpBatchCode != null">
        #{erpBatchCode,jdbcType=VARCHAR},
      </if>
      <if test="bomId != null">
        #{bomId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="customize1 != null">
        #{customize1,jdbcType=VARCHAR},
      </if>
      <if test="customize2 != null">
        #{customize2,jdbcType=VARCHAR},
      </if>
      <if test="customize3 != null">
        #{customize3,jdbcType=VARCHAR},
      </if>
      <if test="customize4 != null">
        #{customize4,jdbcType=VARCHAR},
      </if>
      <if test="customize5 != null">
        #{customize5,jdbcType=INTEGER},
      </if>
      <if test="customize6 != null">
        #{customize6,jdbcType=INTEGER},
      </if>
      <if test="customize7 != null">
        #{customize7,jdbcType=INTEGER},
      </if>
      <if test="customize8 != null">
        #{customize8,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bpm.lj.mes.base.server.domain.BaseBatchBomExample" resultType="java.lang.Long">
    select count(*) from base_batch_bom
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update base_batch_bom
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.erpBatchCode != null">
        erp_batch_code = #{record.erpBatchCode,jdbcType=VARCHAR},
      </if>
      <if test="record.bomId != null">
        bom_id = #{record.bomId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        `type` = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.customize1 != null">
        customize1 = #{record.customize1,jdbcType=VARCHAR},
      </if>
      <if test="record.customize2 != null">
        customize2 = #{record.customize2,jdbcType=VARCHAR},
      </if>
      <if test="record.customize3 != null">
        customize3 = #{record.customize3,jdbcType=VARCHAR},
      </if>
      <if test="record.customize4 != null">
        customize4 = #{record.customize4,jdbcType=VARCHAR},
      </if>
      <if test="record.customize5 != null">
        customize5 = #{record.customize5,jdbcType=INTEGER},
      </if>
      <if test="record.customize6 != null">
        customize6 = #{record.customize6,jdbcType=INTEGER},
      </if>
      <if test="record.customize7 != null">
        customize7 = #{record.customize7,jdbcType=INTEGER},
      </if>
      <if test="record.customize8 != null">
        customize8 = #{record.customize8,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update base_batch_bom
    set id = #{record.id,jdbcType=INTEGER},
      erp_batch_code = #{record.erpBatchCode,jdbcType=VARCHAR},
      bom_id = #{record.bomId,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=INTEGER},
      `type` = #{record.type,jdbcType=INTEGER},
      `status` = #{record.status,jdbcType=INTEGER},
      customize1 = #{record.customize1,jdbcType=VARCHAR},
      customize2 = #{record.customize2,jdbcType=VARCHAR},
      customize3 = #{record.customize3,jdbcType=VARCHAR},
      customize4 = #{record.customize4,jdbcType=VARCHAR},
      customize5 = #{record.customize5,jdbcType=INTEGER},
      customize6 = #{record.customize6,jdbcType=INTEGER},
      customize7 = #{record.customize7,jdbcType=INTEGER},
      customize8 = #{record.customize8,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bpm.lj.mes.base.server.domain.BaseBatchBom">
    update base_batch_bom
    <set>
      <if test="erpBatchCode != null">
        erp_batch_code = #{erpBatchCode,jdbcType=VARCHAR},
      </if>
      <if test="bomId != null">
        bom_id = #{bomId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="customize1 != null">
        customize1 = #{customize1,jdbcType=VARCHAR},
      </if>
      <if test="customize2 != null">
        customize2 = #{customize2,jdbcType=VARCHAR},
      </if>
      <if test="customize3 != null">
        customize3 = #{customize3,jdbcType=VARCHAR},
      </if>
      <if test="customize4 != null">
        customize4 = #{customize4,jdbcType=VARCHAR},
      </if>
      <if test="customize5 != null">
        customize5 = #{customize5,jdbcType=INTEGER},
      </if>
      <if test="customize6 != null">
        customize6 = #{customize6,jdbcType=INTEGER},
      </if>
      <if test="customize7 != null">
        customize7 = #{customize7,jdbcType=INTEGER},
      </if>
      <if test="customize8 != null">
        customize8 = #{customize8,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bpm.lj.mes.base.server.domain.BaseBatchBom">
    update base_batch_bom
    set erp_batch_code = #{erpBatchCode,jdbcType=VARCHAR},
      bom_id = #{bomId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      customize1 = #{customize1,jdbcType=VARCHAR},
      customize2 = #{customize2,jdbcType=VARCHAR},
      customize3 = #{customize3,jdbcType=VARCHAR},
      customize4 = #{customize4,jdbcType=VARCHAR},
      customize5 = #{customize5,jdbcType=INTEGER},
      customize6 = #{customize6,jdbcType=INTEGER},
      customize7 = #{customize7,jdbcType=INTEGER},
      customize8 = #{customize8,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>